body {
	text-align: center;
}
h1 {
	margin: 40px auto 20px;
}
p {
	max-width: 500px;
	margin: 0 auto;
    line-height: 1.4rem;
}
canvas {
	border: 1px solid #222;
	background: #222;
    background: url('stars.jpg');
    background-size: cover;
    background-repeat: no-repeat;
	margin: 40px auto 0;
	box-shadow: 0 0 15px black;
}
